<?xml version="1.0"?>
<launch>
  <arg name="temoto_namespace" default="my_temoto"/>
  <env name="TEMOTO_NAMESPACE" value="$(arg temoto_namespace)" />
  <arg name="plugin_config_base_path" default="$(find temoto_visualization_manager)/src/examples" />

  <group ns="$(arg temoto_namespace)">
    <!-- Run the Process Manager (which is used to start RViz) -->
    <node pkg="temoto_process_manager" 
          type="temoto_process_manager" 
          name="temoto_process_manager" 
          output="screen"/>

    <!-- Run the Visualzation Manager -->
    <node pkg="temoto_visualization_manager" 
          type="temoto_visualization_manager" 
          name="temoto_visualization_manager" 
          output="screen"
          args="--config-base-path $(arg plugin_config_base_path)"/>

    <!-- Run the test node -->
    <node pkg="temoto_visualization_manager" 
          type="visualization_manager_test" 
          name="visualization_manager_test" 
          output="screen"/>
  </group>
</launch>

